<%- model_class = Person -%>
<header class="welcome">
  <div class="welcome__logo">
    <%= image_tag "dentrense_white.svg" %>
  </div>
  <h1 class="welcome__title center">Información de síntomas</h1>
  <p class="welcome__description">
    Utilizaremos datos relativos a tu salud, para el correcto funcionamiento del servicio de autoevaluación y otras finalidades relacionadas, por motivos de interés público.
  </p>
</header>

<main class="container">
<%= render :partial => 'form' %>
</main>
