<%- model_class = Person -%>
<header class="welcome">
  <div class="welcome__logo">
    <%= image_tag "dentrense_white.svg" %>
  </div>
  <h1 class="welcome__title">Información de síntomas</h1>
</header>

<main class="container container--white">
<%= render :partial => 'form' %>
</main>
