<%- model_class = Person -%>
<header class="welcome">
  <div class="welcome__logo">
    <%= image_tag "mano_white.svg" %>
    <span>¡Déntrense!</span>
  </div>
  <h1 class="welcome__title">Resultados</h1>
</header>

<main class="container container--white">
  <%= link_to 'Ir al Inicio', root_path, :class => 'button button--next button--with-margin'  %>
</main>



