<div class="hero center">
  <div class="logo">
    <%= image_tag "dentrense_black" %>
  </div>
  <h1 class="heading">Haz tu autoevaluación del COVID-19</h1>
  <p class="description">Evalúa tu salud y recibe instrucciones y recomendaciones sobre el COVID-19.</p>
  <div class="information">
    <p>Toda la información se recoge por la Comunidad de Madrid con fines estrictamente de interés público ante la situación decretada por las Autoridades Públicas, para proteger y salvaguardar un interés esencial para la vida de las personas.</p>
  </div>
  <%= link_to 'Iniciar Test', terms_and_conditions_path, :class => "button button--primary" %>
  <%= link_to 'FAQ', faq_path, :class => "button button--primary" %>
  <%= link_to 'Sobre Nosotros', about_us_path, :class => "button button--primary" %>
</div>


