@import '../config/variables.scss';

.form-group {
  display: block;
  width: 100%;
  margin-bottom: 1em;

  // Components
  &__label {
    display: block;
    margin-bottom: 0.5em;
  }
  &__input {
    display: block;
    width: 100%;
    padding: 15px 10px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
  }
  &__collection {
    display: flex;
  }
}

.form-actions {
  margin: 2em 0 0;
}

.radio,
.check {
  margin-right: 1em;
  padding: 15px;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: $white;

  // Components
  &__input {
    margin-right: 0.5em;
  }

  // Modifiers
  &--block {
    margin: 0;
  }
}
