@import '../config/variables.scss';

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

body {
  font-family: 'system';
  font-size: $xxs;
  background-color: $blue;
  line-height: 1.3;
  padding: 20px;
}

a {
  color: $gray;
}

.container {
  max-width: 42em;
  margin: 0 auto;
  padding: 0;
  border-radius: 20px;

  // Modifiers
  &--white {
    background-color: $white;
  }
  &--with-padding {
    padding: 15px;
  }
}

.welcome {
  margin: 0 auto;
  max-width: 42em;

  // Components
  &__logo {
    width: 250px;
    margin: 0 auto;
    color: $white;
    span {
      font-size: 1.2em;
    }
  }
  &__title {
    font-size: 1.5em;
    color: $white;
  }
  &__description {
    font-size: 1.1em;
    color: $white;
  }
}

.links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 5px;

    a {
      color: $gray;
    }
  }

  // Modifiers
  &--left {
    text-align: left;
  }
}
