@import '../config/variables.scss';

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

body {
  font-family: 'system';
  font-size: $xs;
  background-color: $blue;
  line-height: 1.2;
}

.container {
  max-width: 42em;
  margin: 0 auto;
  padding: 2em 1em;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  // Modifiers
  &--white {
    background-color: $white;
  }
}
